* {
  margin: 0 auto;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

/* font-family: "Josefin Sans", sans-serif; */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-sec {
  width: 1600px;
  height: 837px;
  background: rgb(255, 248, 243);
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
  margin-top: 30px;
}

span {
  color: rgb(253, 110, 10);
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: large;
  color: black;
}

ul {
  display: flex;
  margin-top: 30px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

nav ul li button {
  border-radius: 5px;
  width: 150px;
  height: 64px;
  background: rgb(253, 110, 10);
  border: none;
}

.btn-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  font-family: "Josefin Sans", sans-serif;
}
